@model IEnumerable<WarehouseManagement.Models.Product>
  



@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm("Index", "Products", FormMethod.Get))
{

    <p>
        Product name: @Html.TextBox("NameString")
        Min Price: @Html.TextBox("Productprice")
        Warehouse:  @Html.DropDownList("Productwarehouse")

                <input type="submit" value="Search" />
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
            <th>
            @Html.DisplayNameFor(model => model.StorageDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SaleDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SoldDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Stores.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Warehouses.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>


        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StorageDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SaleDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SoldDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Stores.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Warehouses.Name)
        </td>

        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ProductID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ProductID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ProductID })
        </td>
    </tr>
}

</table>

